.control-container {
  /* width: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-controls {
  display: flex;
  align-items: center;
}

.side-controls div {
  margin: 5px;
}

.up,
.left,
.right,
.down {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #000;
  background-color: rgb(252, 151, 69);
  cursor: pointer;
}
.up:hover,
.left:hover,
.right:hover,
.down:hover {
  background-color: rgb(255, 255, 180);
  transform: scale(110%);
  transition: all 0.2s ease-in-out;
}
